* {
  font-family: "Orbitron", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
  padding-top: 3rem;
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.container h1 {
  color: #393a3a;
  text-transform: uppercase;
  animation: toLeft 1.3s;
}

.timer {
  display: flex;
  font-size: 60px;
  font-weight: bold;
  color: #333;
  animation: toRight 1.3s;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 10px;
  color: #182f5c;
  min-width: 90px;
}

.separator {
  font-size: 60px;
  padding: 0 10px;
  color: #525763;
}

#milliseconds {
  font-size: 30px;
  color: #525763;
}

.buttons {
  display: flex;
  gap: 1rem;
  animation: toTop 1s;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid rgb(87, 165, 238);
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

#startBtn {
  background-color: #175cff;
  color: #fff;
}

@keyframes toLeft {
  from {
    opacity: 0;
    transform: translateX(150px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes toRight {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes toTop {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 700px) {
  .container h1 {
    font-size: 24px;
  }

  .time {
    transform: scale(0.7);
  }

  .separator {
    font-size: 55px;
  }
}